{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}

    {% block nav %}
</head>
<body class="landing">

<!-- Header -->
<header id="header">
    <h1><a href="index.html">Mangatheque</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="">Accueil</a></li>
            <li><a href="{{ path('categorie') }}">Categories</a></li>
            <li><a href="{{ path('serie') }}">Series</a></li>
            <li><a href="{{ path('editeur') }}">Editeurs</a></li>
            <li><a href="{{ path('personne') }}">Auteurs</a></li>
            <li>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin') }}">admin</a>

                    <a href="{{ path('app_logout') }}">deconnexion</a>
                {% else %}
                    <a href="{{ path('/app_logout') }}">deconnexion</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>
{% endblock %}
    {% block premier %}

        <h2>{{  }}</h2>

    {% endblock%}

{% endblock %}
