{% extends 'base.html.twig' %}

{% block title %}Hello PersonneController!{% endblock %}

{% block body %}
    {% block nav %}
</head>
<body class="landing">

<!-- Header -->
<header id="header">
    <h1><a href="index.html">Mangatheque</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ path('page') }}">Accueil</a></li>
            <li><a href="{{ path('categorie') }}">Categories</a></li>
            <li><a href="{{ path('serie') }}">Series</a></li>
            <li><a href="{{ path('editeur') }}">Editeurs</a></li>
            <li>
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('admin') }}">admin</a></li>
                <li><a href="{{ path('app_logout') }}">Deconnexion</a></li>

                {% else %}
                <li><a href="{{ path('app_login') }}">login</a></li>
                {% endif %}
            </li>
        </ul>
    </nav>
</header>
{% endblock %}

{% block premier %}

<section id="banner">
    <h2>Auteur</h2>
    <ul class="actions">
        <li>
            <a href="#" class="button big">La serie du moment !</a>
        </li>
    </ul>
</section>

<!-- Three -->
<section id="three" class="wrapper style3 special">
    <div class="container">
        <header class="major">
            <h2>Afficher les series ici</h2>
            <p>boucle</p>
        </header>
    </div>

    {% endblock %}
{% endblock %}
